@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container_team h2,h3 {
    text-align: center;
    color: #000;
    margin: 15px;
    font-size: 2em;
    justify-content: center;
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.container_team h3{
    font-size: 1.5em;
}